version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}

updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - 'navikt/teamesyfo-github-actions-workflows'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '14:30'
      timezone: Europe/Oslo
    cooldown:
      default-days: 7
      exclude:
        - '@navikt/*'
    open-pull-requests-limit: 20
    registries: '*'
    groups:
      aksel-dependencies:
        patterns:
          - '@navikt/aksel*'
          - '@navikt/ds*'
      react-dependencies:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
