name: Build & Deploy
on:
  push:
  workflow_dispatch:

jobs:
  next-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/next-app-v2.yaml@feat/pnpm-next-workflow
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      app: narmesteleder-frontend
      base-path: /arbeidsgiver/ansatte/narmesteleder
      node-version: 24.x
      e2e-test-framework: playwright
